<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Add User</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 mt-5">
				<h3>User Registration</h3>
				<form class="form mt-3" method="post" action="/add">
					<dl>
						<p>
							<input class="form-control" name="inputName" value="" type="text" placeholder="Name"
								autocomplete="off" required>
						</p>
						<p>
							<input class="form-control" name="inputEmail" value="" type="text" placeholder="Email"
								autocomplete="off" required>
						</p>
						<p>
							<input class="form-control" name="inputPassword" value="" type="password"
								placeholder="Password" autocomplete="off" required>
						</p>
					</dl>
					<p>
					<input type="submit" class="btn btn-success" value="Add User">
					</p>
				</form>
			</div>
			<div class="col-md-6"></div>
		</div>


	</div>

</body>

</html>